<% form_tag(new_session_path, :method => "post") do %>
  <% if session[:login] %>
    <p>Olá, <%= session[:login]%>
  <% end%>
  <p>Login: <input type="text" class="textbox" name="login" value="Digite seu e-mail ou login"/></p>
  <p>Senha: <input id="pwd" type="textbox" class="textbox" name="senha" value="Digite sua senha"/></p>
  <p><a href="javascript:void(0)">Esqueceu a senha ?</a></p>
  <p><a href="/users/new">Cadastre-se !</a></p>
  <input type="submit" value="Entrar"/>
  <input type="submit" name="logout" value="Logout">
  <p>
    <strong><%= flash[:user_looser] %></strong>
    <strong><%= flash[:user_winner] %></strong>
  <p>
  <!--
  <%= link_to "teste", :action => 'login' unless session[:user] %>
  <% if flash[:message] %>
    <strong><%= h flash[:message] %></strong>
  <% end %>
  -->
<% end %>

