<h1>Editar Permissões</h1>

<% form_for(@permission) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p class="pageBack"><%= link_to 'Back', permissions_path %></p>

