<h1>Lista de Permissões</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>

<% for permission in @permissions %>
  <tr>
    <td><%=h permission.id %></td>
    <td><%=h permission.name %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New permission', new_permission_path %>
<%= link_to 'Voltar ao Painel de Controle', control_panels_path %>

