<h1>Lista de Roles / Permissões</h1>

<table>
  <tr>
    <th>Role Name</th>
    <th>Permission Name</th>
  </tr>

<% for role_permission in @role_permissions %>
  <tr>
    <td><%=h @roles[role_permission.id].name  %></td>
    <td><%=h @permissions[role_permission.id].name  %></td>
    <td><%= link_to 'Edit', edit_role_permission_path(role_permission) %></td>
    <td><%= link_to 'Destroy', role_permission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'Criar Nova', new_role_permission_path %></p>
<p><%= link_to 'Voltar ao Painel de Controle', control_panels_path %></p>

