<h1>Lista de Roles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
  </tr>

<% for role in @roles %>
  <tr>
    <td><%=h role.id %></td>
    <td><%=h role.name %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p class="createNew"><%= link_to 'New role', new_role_path %></p>
<p class="pageBack"><%= link_to 'Voltar ao Painel de Controle', control_panels_path %></p>

