<ul>

  <li><%= link_to 'Usuarios', users_path %></li>
  <li><%= link_to 'Roles', roles_path %></li>
  <li><%= link_to 'Permissions', permissions_path %></li>
  <li><%= link_to 'Role/Permissions', role_permissions_path %></li>
  <li><%= link_to 'User/Roles', user_roles_path %></li>
</ul>
<br />

